body{
    background-image: url("../images/bedge-grunge.png");
}

.navbar-brand{
    background-color: green;
}
.name {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-bottom: 0;
    font-size: xx-large;
}