body{
    background-image: url("../images/bedge-grunge.png");
}

.nav-content {
    text-align: center;
}
.my-n0 {
    margin-top: -0.5rem !important;
    margin-bottom: -0.5rem !important;
  }

  .name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .about {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0;
      color: #e0e0e0;
  }
